// nav

header nav {
    font-family: $body-font;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    
    @include mq-mobile-tablet {
        justify-content: flex-start;
    }
}

.logo {
    width: 25%;
    a {
        h3 {
            transition: 0.3s ease;
        }
    }
}
    
header ul {
    width: calc(75% - 22.5%);
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 22.5%;

    @include mq-tablet-desk {
        width: calc(75% - 10%);
        margin-left: 10%;
    }

    // hamburger
    @include mq-mobile-tablet {
        display: inline-block;
        background: rgba(255,255,255,0.85);
        width: 80%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        left: -80%;
        transition: all 0.5s;
    }

    li {
        padding: 0 6%;

        @include mq-mobile-tablet {
            margin: 7%;
            text-align: center;
        }

        &:last-child {
            padding-right: 0;

            @include mq-mobile-tablet {
                padding-right: 6%;
            }
        }
    }
}

header nav a {
    transition: 0.3s ease;
    padding-bottom: 2%;
    &:hover {
        border-bottom: 2px solid $highlight-color;
    }
    &:focus {
        border-bottom: 2px solid $highlight-color;
    }
}

// hamburger styles
header {
    input[type="checkbox"]:checked + .header-nav {
        left: 0;
    }

    input[type="checkbox"] {
        display: none;
    }

    label[for="menu-toggle"] {
        display: none;

        @include mq-mobile-tablet {
            display: block;
            position: fixed;
            top: 5%;
            right: 5%;
            color: $base-color;
        }
    }

    .fa-bars {
        font-size: 5rem;

        @include mq-landscape-mobile {
            font-size: 4rem;
        }
    }
}


