// header

.index-header {
    background: $bg-color1 url(../assets/header-home.jpg) 75% top no-repeat;
     img {
        position: absolute;
        top: 43%;
        right: 45%;
    }
    .index-h1 {
        width: 25%;
    }
}


// main

.button-link {
    text-decoration: none;
    background: $button-color;
    text-align: center;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 1px;
    font-family: $headings-font;
    color: $bg-color1;
    padding: 2% 4%;
}


// materials

.materials {
    margin: 22% 0 10% 0;
}

.materials .wrapper {
    display: flex;
    flex-wrap: wrap;
    .text-content {
        width: calc(70% - 10%);
        margin-right: 10%;
        justify-content: space-between;
    }
}

.materials-image {
    flex: 1 0 auto;
    width: 30%;
    justify-content: flex-end;
    padding-left: 3.75%;
    img {
        box-shadow: -15px 15px $highlight-color;
    }
}


// gallery

.index-gallery {
    background-color: $bg-color2;
    padding: 7% 0;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding-left: 0;
        li {
            width: calc(100% / 3);
            margin-right: 3%;
            &:last-child {
                margin: 0;
            }
        }
    }
}


// pages

.index-pages .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 0 10% 0;
    .pages-content {
        display: flex;
        width: calc(50% - 2%);
        align-content: space-between;
        margin: 3% 1% 0 1%;
    }
}

.index-icon {
    .fas {
        font-size: 2.8rem;
        background: #f8fb05;
        padding: 14px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
    }
}

.pages-text-content {
    margin: 1% 0 0 4%;
    a {
        font-size: 3.3rem;
        line-height: 5.8rem;
        letter-spacing: 2.1px;
        font-family: $headings-font;
    }
}


// programs + locations

.index-programs-locations {
    background: $bg-color2;
    padding: 7% 0 2% 0;
    position: relative;
}

.index-programs, .index-locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .programs-locations-image {
        width: 50%;
    }
    .programs-locations-text-content {
        width: calc(50% - 10%);
        h2 {
            margin: 0;
        }
    }
}

.index-programs {
    .programs-locations-text-content {
        margin-right: 10%;
        padding-left: 5%;
    }
    .programs-locations-image {
        margin-top: -11%;
        img {
        box-shadow: 15px 15px $highlight-color;
        }
    }
}

.index-locations {
    margin-top: 8%;
    .programs-locations-text-content {
        margin-left: 10%;
        margin-top: 3%;
        text-align: right;
        padding-right: 5%;
    }
    .programs-locations-image {
        padding-left: 3.75%;
        order: 1;
        width: 50%;
        margin-bottom: -4%;
    }
    img {
        box-shadow: -15px 15px $highlight-color;
    }
}

// search by style

.index-style {
    .index-style-text-content {
        margin: 0 auto;
        text-align: center;
        padding: 10% 0;
    }
}