@import "typography";

header nav {
    font-family: $body-font;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 25%;
    a {
        h3 {
            transition: 0.3s ease;
        }
    }
}
    
header ul {
    width: calc(75% - 22.5%);
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 22.5%;
    li {
        padding: 0 6%;
        &:last-child {
            padding-right: 0;
        }
    }
}

header nav a {
    transition: 0.3s ease;
    padding-bottom: 2%;
    &:hover {
        border-bottom: 2px solid $highlight-color;
    }
    &:focus {
        border-bottom: 2px solid $highlight-color;
    }
}