// font styles
$h1-font: 'Kumar One Outline', cursive;
$headings-font: 'Kumar One', cursive;
$body-font: 'Lato', sans-serif;

// colours
$base-color: #000;
$bg-color1: #f5f5f5;
// ice (light green)
$bg-color2: #e0fddf;
// yellow
$highlight-color: #f8fb05;
// evergreen
$button-color: #065635;

