// font styles
$h1-font: 'Kumar One Outline', cursive;
$headings-font: 'Kumar One', cursive;
$body-font: 'Lato', sans-serif;

// colours
$base-color: #000;
$bg-color1: #fff;
// ice (light green)
$bg-color2: #e0fddf;
// yellow
$highlight-color: #f8fb05;
// evergreen
$button-color: #065635;

h1 {
    font-size: 6.8rem;
    font-family: $h1-font;
    width: 25%;
    line-height: 6.4rem;
    margin-left: 11%;
}

h2 {
    margin-top: 0;
    font-size: 3.3rem;
    font-family: $headings-font;
}

h3 {
    font-size: 2.2rem;
    font-family: $headings-font;
    line-height: 2.4rem;
    letter-spacing: 1.2px;
}
 
p {
    font-family: $body-font;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 2px;
    margin-bottom: 5%;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 400;
}

a {
    text-transform: uppercase;
    color: $base-color;
    text-decoration: none;
    transition: 0.3s ease
    &:hover {
        border-bottom: 2px solid $highlight-color;
    }
    &:focus {
        border-bottom: 2px solid $highlight-color;
    }
}

form input, form textarea {
    font-family: $body-font;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
