@import "media-queries";
@import "setup";
@import "typography";
@import "nav";
@import "form";
@import "general-styles";


// header

header {
    background: $bg-color1 url(../assets/contact-image.jpg) center no-repeat;
    background-size: cover;
    height: 95vh;
    min-height: 600px;

    @include mq-landscape-mobile {
        background-position: left bottom;
    }
}

h1 {
    width: 100%;
    margin: 10% 0 0 0;
}

// main

main {
    position: relative;
    background: $bg-color2;
    padding-bottom: 4%;
}

main .wrapper {
    display: flex;
    justify-content: flex-end;

    @include mq-mobile-tablet {
        display: inline-block;
        margin: 0 auto;
    }

    .form {
        width: 70%;
        background: $bg-color1;

        @include mq-mobile-tablet {
            width: 90%;
        }

        @include mq-landscape-mobile {
            width: 100%;
        }
    }
    .contact {
        width: calc(30% - 6%);
        margin: 11% 0 11% 6%;

        @include mq-tablet-desk {
            width: calc(30% - 4%);
        }

        @include mq-mobile-tablet {
            width: 90%;
            text-align: center;
            margin: 0 18%;
        }

         @include mq-landscape-mobile {
            margin: 20% 18%;
        }
    }
}

// form

.form {
    position: absolute;
    left: -3%;
    top: -33.5%;
    padding: 6% 0;
    box-shadow: 20px 20px $highlight-color;  

    @include mq-tablet-desk {
        box-shadow: 15px 15px $highlight-color;
        }

    @include mq-mobile-tablet {
        position: static;
        margin: 10% 17.5%;
    }

    @include mq-landscape-mobile {
        margin: 10%;
    }

    textarea {
        margin-top: 1.5%;
    }
}

button {
    margin-top: 7%;
}

// contact

.social {
    ul {
        display: flex;
        list-style: none;
        padding-left: 0;

        @include mq-mobile-tablet {
            justify-content: center;
        }

        li {
            font-size: 2rem;
            padding: 0 4%;

            &:first-child {
                padding-left: 0;

                @include mq-mobile-tablet {
                    padding-left: 4%;
                }
            }
        }
    }
}

.social a {
    color: $button-color;
}

.email, .phone {
    font-family: $body-font;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 2px;
    text-transform: none;

    @include mq-tablet-desk {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    @include mq-landscape-mobile {
        font-size: 1.4rem;
    }
}

.email {
    margin-top: 8%;
    display: block;

    @include mq-tablet-desk {
        margin-top: 5%;
    }
}

.phone-address {
    margin-top: 8%;

    @include mq-tablet-desk {
        margin-top: 5%;
    }

    p {
        margin: 0;

        @include mq-tablet-desk {
        font-size: 1.6rem;
        line-height: 2rem;
        }

        @include mq-landscape-mobile {
            font-size: 1.4rem;
        }
    }
    
}