article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 6.8rem;
  font-family: "Kumar One Outline", cursive;
  width: 25%;
  line-height: 6.4rem;
  margin-left: 11%;
}

h2 {
  margin-top: 0;
  font-size: 3.3rem;
  font-family: "Kumar One", cursive;
}

h3 {
  font-size: 2.2rem;
  font-family: "Kumar One", cursive;
  line-height: 2.4rem;
  letter-spacing: 1.2px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s ease a;
  transition: 0.3s ease a;
}

a :hover {
  border-bottom: 2px solid #f8fb05;
}

a:focus {
  border-bottom: 2px solid #f8fb05;
}

form input, form textarea {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-size: 6.8rem;
  font-family: "Kumar One Outline", cursive;
  width: 25%;
  line-height: 6.4rem;
  margin-left: 11%;
}

h2 {
  margin-top: 0;
  font-size: 3.3rem;
  font-family: "Kumar One", cursive;
}

h3 {
  font-size: 2.2rem;
  font-family: "Kumar One", cursive;
  line-height: 2.4rem;
  letter-spacing: 1.2px;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s ease a;
  transition: 0.3s ease a;
}

a :hover {
  border-bottom: 2px solid #f8fb05;
}

a:focus {
  border-bottom: 2px solid #f8fb05;
}

form input, form textarea {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header nav {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  width: 25%;
}

.logo a h3 {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header ul {
  width: calc(75% - 22.5%);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 22.5%;
}

header ul li {
  padding: 0 6%;
}

header ul li:last-child {
  padding-right: 0;
}

header nav a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding-bottom: 2%;
}

header nav a:hover {
  border-bottom: 2px solid #f8fb05;
}

header nav a:focus {
  border-bottom: 2px solid #f8fb05;
}

form {
  margin-left: 10%;
}

input {
  border: none;
  background: none;
  border-bottom: 1px solid #065635;
  padding: 0 8% 3% 3%;
  margin-bottom: 5%;
  width: 43%;
}

input[type="text"] {
  margin-right: 2.5%;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #000;
  opacity: 1;
}

input::-webkit-input-placeholder:focus, textarea::-webkit-input-placeholder:focus {
  border: 1px solid #f8fb05;
}

input:-ms-input-placeholder:focus, textarea:-ms-input-placeholder:focus {
  border: 1px solid #f8fb05;
}

input::-ms-input-placeholder:focus, textarea::-ms-input-placeholder:focus {
  border: 1px solid #f8fb05;
}

input::placeholder:focus, textarea::placeholder:focus {
  border: 1px solid #f8fb05;
}

textarea {
  width: 89%;
  border: 1px solid #065635;
  background: none;
  padding: 3% 0 0 3%;
}

button {
  margin-top: 5%;
  text-decoration: none;
  background: #065635;
  border: 1px solid #065635;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-family: "Kumar One", cursive;
  color: #fff;
  padding: 2% 4%;
  text-transform: uppercase;
  width: 89%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

button:hover {
  background: #fff;
  color: #065635;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

footer {
  background: #000;
}

footer p {
  margin: 0;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

header {
  background: #fff url(../assets/contact-image.jpg) center no-repeat;
  background-size: cover;
  height: 95vh;
  min-height: 600px;
}

h1 {
  width: 100%;
  margin: 10% 0 0 0;
}

main {
  position: relative;
  background: #e0fddf;
  padding-bottom: 4%;
}

main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .wrapper .form {
  width: 70%;
  background: #fff;
}

main .wrapper .contact {
  width: calc(30% - 6%);
  margin: 11% 0 11% 6%;
}

.form {
  position: absolute;
  left: -3%;
  top: -33.5%;
  padding: 6% 0;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.form textarea {
  margin-top: 1.5%;
}

button {
  margin-top: 7%;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.social ul li {
  font-size: 2rem;
  padding: 0 4%;
}

.social ul li:first-child {
  padding-left: 0;
}

.social a {
  color: #065635;
}

.email, .phone {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2px;
  text-transform: none;
}

.email {
  margin-top: 8%;
  display: block;
}

.phone-address {
  margin-top: 8%;
}

.phone-address p {
  margin: 0;
}
