article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #f8fb05;
}

a:focus {
  border-bottom: 2px solid #f8fb05;
}

header {
  background: #fff url(../assets/header-home.jpg) no-repeat;
  background-position: contain;
  height: 95vh;
  min-height: 600px;
}

header img {
  position: absolute;
  top: 45%;
}

nav {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  padding: 10px;
}

h1 {
  font-size: 6.8rem;
  font-family: "Kumar One Outline", cursive;
  width: 25%;
  line-height: 6.4rem;
  margin-left: 11%;
}

.text-content h2 {
  margin-top: 0;
  font-size: 3.3rem;
  font-family: "Kumar One", cursive;
}

.text-content p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 2px;
  margin-bottom: 5%;
}

.materials {
  margin: 27% 0 10% 0;
}

.materials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.materials .wrapper .text-content {
  width: calc(70% - 10%);
  margin-right: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.materials .wrapper .text-content a {
  text-decoration: none;
  background: #065635;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-family: "Kumar One", cursive;
  color: #fff;
  padding: 2% 4%;
}

.materials .wrapper img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 30%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
}

.gallery {
  background-color: #e0fddf;
  padding: 7% 0;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.gallery ul li {
  width: calc(100% / 3);
  margin-right: 3%;
}

.gallery ul li:last-child {
  margin: 0;
}

.pages .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0 7% 0;
}

.pages .wrapper .pages-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 2%);
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 3% 1% 0 1%;
}

.pages .icon .fas {
  font-size: 2.8rem;
  background: #f8fb05;
  padding: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.pages .text-content {
  margin: 1% 0 0 4%;
}

.pages .text-content a {
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  font-family: "Kumar One", cursive;
}

.programs-locations {
  background: #e0fddf;
  padding: 7% 0;
  position: relative;
}

.programs-locations a {
  text-decoration: none;
  background: #065635;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-family: "Kumar One", cursive;
  color: #fff;
  padding: 2% 4%;
}

.programs, .locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-end;
          flex-direction: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programs .image, .locations .image {
  width: 50%;
}

.programs .text-content, .locations .text-content {
  width: calc(50% - 10%);
}

.programs .text-content h2, .locations .text-content h2 {
  margin: 0;
}

.programs .text-content {
  margin-right: 10%;
  padding-left: 5%;
}

.programs img {
  position: absolute;
  top: -10%;
  -webkit-box-shadow: 15px 15px #f8fb05;
          box-shadow: 15px 15px #f8fb05;
}

.locations {
  margin-top: 8%;
}

.locations .text-content {
  margin-left: 10%;
  text-align: right;
  padding-right: 5%;
}

.locations .image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-right: 0;
}

.locations img {
  position: absolute;
  right: 0%;
  -webkit-box-shadow: -15px 15px #f8fb05;
          box-shadow: -15px 15px #f8fb05;
}

.style .text-content {
  margin: 0 auto;
  text-align: center;
  padding: 10% 0;
}

.style .text-content a {
  text-decoration: none;
  background: #065635;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  font-family: "Kumar One", cursive;
  color: #fff;
  padding: 2% 4%;
}

footer {
  background: #000;
}

footer p {
  margin: 0;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}
